@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100&display=swap');
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

  /*font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
  */
  body{
    margin: 0;
    padding: 0;
    background-color: var(--body-bg-color);
}

.container{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding:10px;
 margin-top: 80px;
 

}
#fotoperfil{
  width: 180px;
  border-radius: 100%;
  border: solid #BB99DD;
  padding: 5px;
  -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%);
}
.title{
   color: var(--purple);
   margin-bottom: 20px;
}
.text{
 padding: 3%;
 width: 20rem;
 border: solid #BB99DD;
 text-align: center;
 color: var(--purple);
 font-weight: bold;
 border-radius: 4px;

}
.text a{
  color: var(--purple);
  text-decoration: none;
}
#cardText{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.icons{
  padding-top: 50px;

}
.icons img{
  justify-content: space-between;
  padding: 10px;
}