@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@100&display=swap');
:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  }

  /*font-family: 'Fredoka One', cursive;
    font-family: 'Poppins', sans-serif;
  */
  